.buy_btcc_box{
    text-align: center;
    padding: 30px;
    background: var(--white);
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 50%;
}
.dollar_icon{
    font-size: 17px;
    color: var(--white);
    height: 30px;
    width: 30px;
    margin-left: auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    margin-right: auto;
    background-image: linear-gradient(0deg, #fa23a2 0%, #ff677c 100%);
}
.dollar_icon_blue{
    font-size: 17px;
    color: var(--white);
    height: 30px;
    width: 30px;
    margin-left: auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    margin-right: auto;
    background-image: linear-gradient(0deg, #1d71f1 0%, #17c7fb 100%);
}
.buy_btcc_box p{
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
    font-weight: 500;

}
.sell_btcc_box{
    text-align: center;
    padding: 30px;
    background: var(--white);
    border-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 50%;
}
.two_btc_row{
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 103px;
}
.sell_btcc_box p{
    margin: auto;
    margin-top: 10px;
    font-weight: 500;

}